<%- include('./partials/header.ejs') %>
<div class="centered-content">
    <h1 class="landing-text">WELCOME TO LHASA LINKS!</h1>
    <h2 class="motto">Link up with other Himalayan people across the world and share your story!</h2>
</div>
<img src="https://i0.wp.com/tnp.org/wp-content/uploads/Tibetan-prayer-flags-2.jpg?fit=560%2C375&ssl=1" alt="Tibetan Prayer Flags" class="background-image">
<%- include('./partials/footer.ejs') %>
