<%- include('./partials/header.ejs') %>
<h1 class="title-home">Lhasa Links</h1>
<p class="landing-text">Welcome to Lhasa Links!</p>
<h2 class="motto">Link up with other Himalayan people across the world.</h2>
<%- include('./partials/footer.ejs') %>
