<%- include('../partials/header.ejs') %>
<div class="container edit-post-container">
  <h2>Edit Post</h2>

  <form action="/posts/<%= post._id %>/edit" method="POST">
    <div class="form-group">
      <textarea name="content" id="content" rows="4" required>
<%= post.content %></textarea
      >
    </div>

    <button type="submit">Update Post</button>
  </form>
</div>
<%- include('../partials/footer.ejs') %>
